In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/GrandmaCan/ML/main/Classification/Diabetes_Data.csv"
data = pd.read_csv(url)
data

     Age  Weight  BloodSugar Gender  Diabetes
0     25     119       130.8     男生         1
1     66     102       128.1     女生         1
2     59      65       103.9     男生         0
3     46     117        94.8     女生         0
4     45      79        57.8     男生         0
..   ...     ...         ...    ...       ...
395   72      63        97.1     女生         0
396   22     117       156.7     女生         1
397   31      76       119.0     男生         0
398   36      65        96.3     女生         1
399   38      75       106.3     男生         0

[400 rows x 5 columns]

In [3]:
data["Gender"] = data["Gender"].map({"男生": 1, "女生": 0})
data

     Age  Weight  BloodSugar  Gender  Diabetes
0     25     119       130.8       1         1
1     66     102       128.1       0         1
2     59      65       103.9       1         0
3     46     117        94.8       0         0
4     45      79        57.8       1         0
..   ...     ...         ...     ...       ...
395   72      63        97.1       0         0
396   22     117       156.7       0         1
397   31      76       119.0       1         0
398   36      65        96.3       0         1
399   38      75       106.3       1         0

[400 rows x 5 columns]

In [18]:
from sklearn.model_selection import train_test_split
x = data[["Age", "Weight", "BloodSugar", "Gender"]]
y = data["Diabetes"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 87)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy()

(221    1
 52     0
 99     0
 367    1
 248    1
       ..
 6      0
 251    0
 143    0
 187    0
 333    0
 Name: Diabetes, Length: 320, dtype: int64,
 344    1
 34     0
 194    0
 249    1
 71     0
       ..
 92     0
 299    0
 228    0
 16     1
 184    0
 Name: Diabetes, Length: 80, dtype: int64)

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

array([[ 1.4964114 ,  0.95077942,  1.01425033, -1.06458129],
       [ 1.43615575, -0.2915795 ,  0.06547324, -1.06458129],
       [ 1.67717835, -0.67713916, -2.28906075,  0.93933644],
       [-1.63688239,  1.12213927,  0.23520859,  0.93933644],
       [-1.09458154,  0.99361938, -0.27834966,  0.93933644],
       [ 1.67717835, -1.44825849, -0.86589511,  0.93933644],
       [ 0.05027581, -1.40541853, -0.0346271 , -1.06458129],
       [ 1.79768965,  0.26534002,  1.90644898, -1.06458129],
       [-1.21509284,  1.07929931, -0.07814898,  0.93933644],
       [ 0.89385491,  0.73657961,  1.27973383,  0.93933644],
       [-1.33560414, -0.2915795 ,  0.45281801,  0.93933644],
       [-1.21509284,  0.00830024, -0.7179207 , -1.06458129],
       [-0.25100244, -0.07737968, -2.03663381,  0.93933644],
       [-0.13049114,  1.07929931, -0.49160689, -1.06458129],
       [ 0.65283231,  1.50769894,  0.38753519,  0.93933644],
       [ 0.83359926, -0.2915795 , -0.09990993, -1.06458129],
       [ 0.59257666, -0.67713916, -0.03027491,  0.93933644],
       [ 0.23104276,  1.12213927, -1.11396985,  0.93933644],
       [ 0.17078711, -1.6624583 , -1.04868702, -1.06458129],
       [ 1.0143662 , -0.80565905, -1.38815773,  0.93933644],
       [-0.31125809,  1.2078192 ,  0.03065573, -1.06458129],
       [ 0.89385491, -0.80565905,  0.14816482,  0.93933644],
       [-1.57662674,  0.56521976,  0.75747121,  0.93933644],
       [ 0.17078711, -1.27689864, -0.29140622, -1.06458129],
       [-1.09458154, -0.20589957,  0.62690555,  0.93933644],
       [-1.27534849, -0.07737968, -0.28270184, -1.06458129],
       [-0.19074679, -0.54861927,  1.84551834, -1.06458129],
       [-1.51637109, -1.14837875, -0.60041161,  0.93933644],
       [ 1.737434  , -0.9770189 , -0.13907962, -1.06458129],
       [ 1.07462185,  0.22250006, -0.62217255, -1.06458129],
       [ 1.6169227 , -0.67713916, -0.36104124, -1.06458129],
       [-0.79330329,  0.8650995 ,  0.23956078,  0.93933644],
       [-0.25100244, -0.76281909, -0.91376918, -1.06458129],
       [-0.19074679,  1.42201901,  1.66707861, -1.06458129],
       [-1.33560414,  0.90793946, -0.53512878, -1.06458129],
       [ 0.65283231, -1.40541853, -1.03563046,  0.93933644],
       [-1.21509284, -0.89133897,  0.45281801, -1.06458129],
       [ 0.35155406, -0.76281909, -0.4524372 ,  0.93933644],
       [ 1.0143662 , -1.49109845, -0.94858669, -1.06458129],
       [ 1.19513315, -1.36257856, -1.25323988, -1.06458129],
       [-0.61253634,  1.5505389 ,  1.07953316,  0.93933644],
       [-0.61253634,  1.12213927, -0.82672541,  0.93933644],
       [-0.49202504,  0.00830024,  0.68783619, -1.06458129],
       [-0.43176939,  0.26534002,  1.94126648, -1.06458129],
       [ 1.737434  ,  0.00830024, -1.27500083, -1.06458129],
       [-1.45611544,  0.99361938, -0.57429848, -1.06458129],
       [-1.51637109,  1.42201901, -0.83978197, -1.06458129],
       [-0.91381459,  1.07929931,  0.67913182,  0.93933644],
       [-0.13049114,  0.73657961,  1.01860252, -1.06458129],
       [-0.55228069,  0.39385991,  0.81404966,  0.93933644],
       [ 1.2553888 , -1.14837875,  1.10564629,  0.93933644],
       [-1.63688239,  1.25065916, -0.07814898, -1.06458129],
       [ 0.95411055, -1.3197386 , -1.18360487,  0.93933644],
       [ 1.6169227 , -0.9770189 ,  0.56597491, -1.06458129],
       [ 1.6169227 ,  0.99361938,  0.88803686,  0.93933644],
       [-0.31125809, -1.74813823, -0.99210857,  0.93933644],
       [ 1.0143662 , -0.46293935,  0.85757154,  0.93933644],
       [ 1.43615575,  0.13682013,  0.65301868, -1.06458129],
       [ 1.6169227 ,  0.39385991, -0.13472744, -1.06458129],
       [-1.51637109, -0.03453972, -1.00081295,  0.93933644],
       [-1.03432589, -1.57677838, -0.73097726,  0.93933644],
       [-1.63688239, -1.27689864, -0.0346271 , -1.06458129],
       [-1.27534849, -1.53393841, -2.14979072, -1.06458129],
       [-0.67279199, -1.23405867, -1.41862305,  0.93933644],
       [ 1.79768965,  0.05114021,  0.36577424,  0.93933644],
       [-0.13049114, -1.06269882, -0.60041161,  0.93933644],
       [-0.07023549,  1.42201901,  0.88803686,  0.93933644],
       [ 0.05027581,  0.95077942,  0.29613923, -1.06458129],
       [ 1.19513315,  0.30817998, -0.02157053, -1.06458129],
       [-1.03432589,  1.42201901,  1.28843821, -1.06458129],
       [-1.15483719,  0.73657961, -1.18360487, -1.06458129],
       [ 1.19513315,  0.56521976,  1.58003484,  0.93933644],
       [-0.19074679,  1.37917905,  0.65737087,  0.93933644],
       [-0.43176939,  0.60805972,  1.03165909, -1.06458129],
       [ 1.0143662 ,  1.16497924,  0.32660455,  0.93933644],
       [ 1.2553888 ,  0.82225953,  0.54421397, -1.06458129],
       [-1.69713804, -1.44825849, -1.24453551,  0.93933644],
       [ 0.17078711, -0.03453972, -0.67439881, -1.06458129],
       [ 0.05027581,  1.5505389 ,  1.53651295, -1.06458129],
       [-0.00997984, -0.37725942, -1.42297523,  0.93933644]])

In [13]:
import numpy as np
def sigmoid(z):
    return  1/(1+np.exp(-z))

In [14]:
w = np.array([1, 2, 3, 4])
b = 1
z = (w * x_train).sum(axis = 1) + b
sigmoid(z)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])