In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/GrandmaCan/ML/main/Resgression/Salary_Data2.csv"
data = pd.read_csv(url)
data

    YearsExperience EducationLevel City  Salary
0               3.0             大學  城市A    45.9
1               7.8           碩士以上  城市C    80.5
2               2.3           高中以下  城市A    25.2
3               5.1           高中以下  城市A    30.4
4              10.0           碩士以上  城市B    65.7
5               1.2           碩士以上  城市C    60.8
6               8.6             大學  城市C    50.1
7               6.9           碩士以上  城市A    70.3
8               4.2             大學  城市A    40.7
9               2.4           高中以下  城市A    28.1
10              5.3           高中以下  城市A    32.0
11              3.9             大學  城市A    48.3
12              7.2           碩士以上  城市C    84.2
13             10.0           碩士以上  城市B    70.9
14              1.5           碩士以上  城市C    62.4
15              8.4             大學  城市C    55.6
16              6.5           碩士以上  城市A    72.7
17              4.8             大學  城市A    42.9
18              2.1           高中以下  城市A    26.5
19              5.2           高中以下  城市A    31.6
20              3.5             大學  城市A    43.8
21              7.6           碩士以上  城市C    78.3
22             10.0           碩士以上  城市B    63.6
23              1.8           碩士以上  城市C    58.0
24              8.2             大學  城市C    48.3
25              6.3           碩士以上  城市A    68.4
26              4.6             大學  城市A    38.5
27              2.5           高中以下  城市A    24.9
28              5.0           高中以下  城市A    29.7
29              3.6             大學  城市A    41.6
30              7.4           碩士以上  城市C    76.9
31             10.0           碩士以上  城市B    60.2
32              1.7           碩士以上  城市C    56.3
33              8.0             大學  城市C    45.2
34              6.1           碩士以上  城市A    65.9
35              4.3             大學  城市A    36.7

In [5]:
data["EducationLevel"] = data["EducationLevel"].map({"高中以下" : 0, "大學" : 1, "碩士以上" : 2})
data

    YearsExperience  EducationLevel City  Salary
0               3.0               1  城市A    45.9
1               7.8               2  城市C    80.5
2               2.3               0  城市A    25.2
3               5.1               0  城市A    30.4
4              10.0               2  城市B    65.7
5               1.2               2  城市C    60.8
6               8.6               1  城市C    50.1
7               6.9               2  城市A    70.3
8               4.2               1  城市A    40.7
9               2.4               0  城市A    28.1
10              5.3               0  城市A    32.0
11              3.9               1  城市A    48.3
12              7.2               2  城市C    84.2
13             10.0               2  城市B    70.9
14              1.5               2  城市C    62.4
15              8.4               1  城市C    55.6
16              6.5               2  城市A    72.7
17              4.8               1  城市A    42.9
18              2.1               0  城市A    26.5
19              5.2               0  城市A    31.6
20              3.5               1  城市A    43.8
21              7.6               2  城市C    78.3
22             10.0               2  城市B    63.6
23              1.8               2  城市C    58.0
24              8.2               1  城市C    48.3
25              6.3               2  城市A    68.4
26              4.6               1  城市A    38.5
27              2.5               0  城市A    24.9
28              5.0               0  城市A    29.7
29              3.6               1  城市A    41.6
30              7.4               2  城市C    76.9
31             10.0               2  城市B    60.2
32              1.7               2  城市C    56.3
33              8.0               1  城市C    45.2
34              6.1               2  城市A    65.9
35              4.3               1  城市A    36.7

In [6]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()
onehot_encoder.fit(data[["City"]])
city_encoded = onehot_encoder.transform(data[["City"]]).toarray()
city_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [7]:
data[["City A", "City B", "City C"]] = city_encoded
data

    YearsExperience  EducationLevel City  Salary  City A  City B  City C
0               3.0               1  城市A    45.9     1.0     0.0     0.0
1               7.8               2  城市C    80.5     0.0     0.0     1.0
2               2.3               0  城市A    25.2     1.0     0.0     0.0
3               5.1               0  城市A    30.4     1.0     0.0     0.0
4              10.0               2  城市B    65.7     0.0     1.0     0.0
5               1.2               2  城市C    60.8     0.0     0.0     1.0
6               8.6               1  城市C    50.1     0.0     0.0     1.0
7               6.9               2  城市A    70.3     1.0     0.0     0.0
8               4.2               1  城市A    40.7     1.0     0.0     0.0
9               2.4               0  城市A    28.1     1.0     0.0     0.0
10              5.3               0  城市A    32.0     1.0     0.0     0.0
11              3.9               1  城市A    48.3     1.0     0.0     0.0
12              7.2               2  城市C    84.2     0.0     0.0     1.0
13             10.0               2  城市B    70.9     0.0     1.0     0.0
14              1.5               2  城市C    62.4     0.0     0.0     1.0
15              8.4               1  城市C    55.6     0.0     0.0     1.0
16              6.5               2  城市A    72.7     1.0     0.0     0.0
17              4.8               1  城市A    42.9     1.0     0.0     0.0
18              2.1               0  城市A    26.5     1.0     0.0     0.0
19              5.2               0  城市A    31.6     1.0     0.0     0.0
20              3.5               1  城市A    43.8     1.0     0.0     0.0
21              7.6               2  城市C    78.3     0.0     0.0     1.0
22             10.0               2  城市B    63.6     0.0     1.0     0.0
23              1.8               2  城市C    58.0     0.0     0.0     1.0
24              8.2               1  城市C    48.3     0.0     0.0     1.0
25              6.3               2  城市A    68.4     1.0     0.0     0.0
26              4.6               1  城市A    38.5     1.0     0.0     0.0
27              2.5               0  城市A    24.9     1.0     0.0     0.0
28              5.0               0  城市A    29.7     1.0     0.0     0.0
29              3.6               1  城市A    41.6     1.0     0.0     0.0
30              7.4               2  城市C    76.9     0.0     0.0     1.0
31             10.0               2  城市B    60.2     0.0     1.0     0.0
32              1.7               2  城市C    56.3     0.0     0.0     1.0
33              8.0               1  城市C    45.2     0.0     0.0     1.0
34              6.1               2  城市A    65.9     1.0     0.0     0.0
35              4.3               1  城市A    36.7     1.0     0.0     0.0

In [8]:
data = data.drop(["City", "City C"], axis = 1)
data

    YearsExperience  EducationLevel  Salary  City A  City B
0               3.0               1    45.9     1.0     0.0
1               7.8               2    80.5     0.0     0.0
2               2.3               0    25.2     1.0     0.0
3               5.1               0    30.4     1.0     0.0
4              10.0               2    65.7     0.0     1.0
5               1.2               2    60.8     0.0     0.0
6               8.6               1    50.1     0.0     0.0
7               6.9               2    70.3     1.0     0.0
8               4.2               1    40.7     1.0     0.0
9               2.4               0    28.1     1.0     0.0
10              5.3               0    32.0     1.0     0.0
11              3.9               1    48.3     1.0     0.0
12              7.2               2    84.2     0.0     0.0
13             10.0               2    70.9     0.0     1.0
14              1.5               2    62.4     0.0     0.0
15              8.4               1    55.6     0.0     0.0
16              6.5               2    72.7     1.0     0.0
17              4.8               1    42.9     1.0     0.0
18              2.1               0    26.5     1.0     0.0
19              5.2               0    31.6     1.0     0.0
20              3.5               1    43.8     1.0     0.0
21              7.6               2    78.3     0.0     0.0
22             10.0               2    63.6     0.0     1.0
23              1.8               2    58.0     0.0     0.0
24              8.2               1    48.3     0.0     0.0
25              6.3               2    68.4     1.0     0.0
26              4.6               1    38.5     1.0     0.0
27              2.5               0    24.9     1.0     0.0
28              5.0               0    29.7     1.0     0.0
29              3.6               1    41.6     1.0     0.0
30              7.4               2    76.9     0.0     0.0
31             10.0               2    60.2     0.0     1.0
32              1.7               2    56.3     0.0     0.0
33              8.0               1    45.2     0.0     0.0
34              6.1               2    65.9     1.0     0.0
35              4.3               1    36.7     1.0     0.0

In [9]:
from sklearn.model_selection import train_test_split
x = data[["YearsExperience", "EducationLevel", "City A", "City B"]]
y = data["Salary"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 87)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy()

In [56]:
# feature scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
import numpy as np

w = np.array([1, 2, 3, 4])
b = 1
(x_train * w).sum(axis = 1) + b

array([10.6, 10.3, 14.1,  9.6, 14.3, 10.8, 12.2, 19. ,  6.8,  6.1,  9.9,
       12.6, 19. , 11.2,  9.1, 19. , 10.2,  9.3,  6.5, 12.4,  9. ,  6.4,
        9. ,  9.2, 11. , 11.6, 11.4, 19. ])

In [15]:
import numpy as np

w = np.array([1, 2, 3, 4])
b = 1
y_pred = (x_train * w).sum(axis = 1) + b
((y_train - y_pred) ** 2).mean()

1772.9485714285713

In [16]:
def compute_cost(x, y, w, b):
    y_pred = (x * w).sum(axis = 1) + b
    cost = ((y - y_pred) ** 2).mean()
    return cost

In [17]:
w = np.array([0, 2, 2, 4])
b = 0
compute_cost(x_train, y_train, w, b)

2437.7371428571428

In [21]:
y_pred = (x_train * w).sum(axis = 1) + b
b_gradient = (y_pred - y_train).mean()
w_gradient = np.zeros(x_train.shape[1])

for i in range(x_train.shape[1]):
    w_gradient[i] = (x_train[:, i] * (y_pred - y_train)).mean()

w_gradient, b_gradient

(array([-295.8       ,  -65.67142857,  -19.82857143,   -8.15714286]),
 -46.949999999999996)

In [28]:
def compute_gradient(x, y, w, b):
    y_pred = (x * w).sum(axis = 1) + b
    w_gradient = np.zeros(x.shape[1])
    b_gradient = (y_pred - y).mean()
    for i in range(x.shape[1]):
         w_gradient[i] = (x_train[:, i] * (y_pred - y)).mean()

    return w_gradient, b_gradient

In [30]:
w = np.array([1, 2, 2, 4])
b = 1
compute_gradient(x_train, y_train, w, b)

(array([-248.62428571,  -56.72857143,  -16.93928571,   -6.58571429]),
 -40.07142857142858)

In [33]:
w = np.array([1, 2, 2, 4])
b = 1
learning_rate = 0.001
w_gradient, b_gradient = compute_gradient(x_train, y_train, w, b)

print(compute_cost(x_train, y_train, w, b))

w = w - w_gradient * learning_rate
b = b - b_gradient * learning_rate
w, b

print(compute_cost(x_train, y_train, w, b))

1806.2914285714287
1675.283646825475

In [40]:
np.set_printoptions(formatter = {'float' : '{: .2e}' .format})
def gradient_descent(x, y, w_init, b_init, learning_rate, cost_function, gradient_function, run_iter, p_iter = 1000):
    
    c_hist = []
    w_hist = []
    b_hist = []

    
    w = w_init
    b = b_init

    for i in range(run_iter):
        w_gradient, b_gradient = gradient_function(x, y, w, b)

        w = w - w_gradient * learning_rate
        b = b - b_gradient * learning_rate
        cost = cost_function(x, y, w, b)
        
        w_hist.append(w)
        b_hist.append(b)
        c_hist.append(cost)
        
        if i % p_iter == 0:
            print(f"Iteration {i:5} : Cost {cost: .2e}, w : {w}, b : {b: .2e}, w_gradient : {w_gradient}, b_gradient : {b_gradient: .2e}")
        
    return w, b, w_hist, b_hist, c_hist

In [43]:
w_init = np.array([1, 2, 2, 4])
b_init = 0
learning_rate = 0.01
run_iter = 10000

w_final, b_final, w_hist, b_hist, c_hist = gradient_descent(x_train, y_train, w_init, b_init, learning_rate, compute_cost, compute_gradient, run_iter)

Iteration     0 : Cost  7.91e+02, w : [ 3.55e+00  2.58e+00  2.17e+00  4.07e+00], b :  4.11e-01, w_gradient : [-2.55e+02 -5.79e+01 -1.75e+01 -6.73e+00], b_gradient : -4.11e+01
Iteration  1000 : Cost  3.39e+01, w : [ 2.07e+00  2.06e+01  4.16e+00 -5.84e+00], b :  1.27e+01, w_gradient : [ 1.60e-02  6.14e-03  3.18e-01  5.34e-01], b_gradient : -3.76e-01
Iteration  2000 : Cost  2.81e+01, w : [ 2.01e+00  2.02e+01  1.61e+00 -9.40e+00], b :  1.56e+01, w_gradient : [ 5.16e-03  4.84e-02  1.93e-01  2.23e-01], b_gradient : -2.32e-01
Iteration  3000 : Cost  2.64e+01, w : [ 1.95e+00  1.98e+01  1.14e-01 -1.09e+01], b :  1.75e+01, w_gradient : [ 6.81e-03  3.40e-02  1.15e-01  8.59e-02], b_gradient : -1.60e-01
Iteration  4000 : Cost  2.58e+01, w : [ 1.88e+00  1.95e+01 -8.09e-01 -1.14e+01], b :  1.89e+01, w_gradient : [ 6.59e-03  2.44e-02  7.31e-02  2.58e-02], b_gradient : -1.14e-01
Iteration  5000 : Cost  2.55e+01, w : [ 1.82e+00  1.93e+01 -1.41e+00 -1.15e+01], b :  1.98e+01, w_gradient : [ 5.68e-03  1.79e-02  4.86e-02  1.04e-03], b_gradient : -8.32e-02
Iteration  6000 : Cost  2.54e+01, w : [ 1.77e+00  1.91e+01 -1.81e+00 -1.14e+01], b :  2.06e+01, w_gradient : [ 4.63e-03  1.33e-02  3.37e-02 -7.99e-03], b_gradient : -6.16e-02
Iteration  7000 : Cost  2.53e+01, w : [ 1.73e+00  1.90e+01 -2.10e+00 -1.13e+01], b :  2.11e+01, w_gradient : [ 3.67e-03  9.95e-03  2.41e-02 -1.02e-02], b_gradient : -4.61e-02
Iteration  8000 : Cost  2.53e+01, w : [ 1.69e+00  1.89e+01 -2.31e+00 -1.12e+01], b :  2.15e+01, w_gradient : [ 2.86e-03  7.50e-03  1.76e-02 -9.73e-03], b_gradient : -3.47e-02
Iteration  9000 : Cost  2.53e+01, w : [ 1.67e+00  1.89e+01 -2.46e+00 -1.12e+01], b :  2.18e+01, w_gradient : [ 2.21e-03  5.67e-03  1.31e-02 -8.32e-03], b_gradient : -2.62e-02

In [57]:
# after feature scaling
w_init = np.array([1, 2, 2, 4])
b_init = 0
learning_rate = 0.01
run_iter = 10000

w_final, b_final, w_hist, b_hist, c_hist = gradient_descent(x_train, y_train, w_init, b_init, learning_rate, compute_cost, compute_gradient, run_iter)

Iteration     0 : Cost  2.75e+03, w : [ 1.05e+00  2.12e+00  1.90e+00  4.01e+00], b :  5.10e-01, w_gradient : [-5.35e+00 -1.22e+01  9.62e+00 -1.12e+00], b_gradient : -5.10e+01
Iteration  1000 : Cost  2.53e+01, w : [ 3.73e+00  1.39e+01 -1.82e+00 -3.51e+00], b :  5.09e+01, w_gradient : [-9.61e-02 -6.24e-02 -8.60e-02  7.25e-02], b_gradient : -2.20e-03
Iteration  2000 : Cost  2.52e+01, w : [ 4.09e+00  1.41e+01 -1.49e+00 -3.76e+00], b :  5.09e+01, w_gradient : [-8.25e-03 -5.10e-03 -7.72e-03  5.60e-03], b_gradient : -9.50e-08
Iteration  3000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-6.98e-04 -4.34e-04 -6.57e-04  4.72e-04], b_gradient : -4.11e-12
Iteration  4000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-5.92e-05 -3.68e-05 -5.57e-05  4.00e-05], b_gradient : -3.49e-13
Iteration  5000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-5.02e-06 -3.12e-06 -4.73e-06  3.40e-06], b_gradient : -3.46e-13
Iteration  6000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-4.25e-07 -2.65e-07 -4.01e-07  2.88e-07], b_gradient : -3.48e-13
Iteration  7000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-3.61e-08 -2.25e-08 -3.40e-08  2.44e-08], b_gradient : -3.47e-13
Iteration  8000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-3.06e-09 -1.90e-09 -2.88e-09  2.07e-09], b_gradient : -3.47e-13
Iteration  9000 : Cost  2.52e+01, w : [ 4.12e+00  1.41e+01 -1.46e+00 -3.78e+00], b :  5.09e+01, w_gradient : [-2.60e-10 -1.61e-10 -2.45e-10  1.76e-10], b_gradient : -3.47e-13

In [44]:
w_final, b_final

(array([ 1.65e+00,  1.88e+01, -2.57e+00, -1.11e+01]), 22.034514692339933)

In [45]:
y_pred = (w_final * x_test).sum(axis = 1) + b_final
pd.DataFrame({
    "y_pred" : y_pred,
    "y_test" : y_test
})

       y_pred  y_test
20  44.039072    43.8
16  67.789543    72.7
5   61.619281    60.8
27  23.587007    24.9
32  62.443883    56.3
2   23.257167    25.2
1   72.504022    80.5
7   68.449224    70.3

In [46]:
compute_cost(x_test, y_test, w_final, b_final)

16.930981927318943

In [54]:
from sklearn.preprocessing import StandardScaler
# 5.3 碩士以上 城市A
# 7.2 高中以下 城市B
scaler = StandardScaler()
scaler.fit(x_test)
x_real = np.array([[5.3, 2, 1, 0],[7.2, 0, 0, 1]])
x_real = scaler.transform(x_real)
y_real = (w_final * x_real).sum(axis = 1) + b_final
y_real

array([ 3.46e+01, -1.38e+01])